/* Estilo básico para el cuerpo y encabezado */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff; 
    padding: 1em;
    text-align: center;
}

/* Navegador */
nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffcc00;
}

/* Títulos */
h1 {
    font-size: 2.5em;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    color: black;
}

/* Corrección del selector (antes era main.p) */
main p {

    text-align: center;
    font-size: 1.2em;
    color: #555;
}

/* Cuadrícula para las tarjetas */
#cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    padding: 20px;
}

/* Estilo para cada tarjeta */
#cards section {
    background-color: #f4f4f4;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilo para las imágenes */
#cards img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Estilo para los nombres */
#cards h2 {
    font-size: 1.5em;
    color: #333;

}

/* Pie de página */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
    flex-wrap: wrap;
}

footer p {
    margin: 0 20px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer i {
    transition: transform 0.3s;
}

footer i:hover {
    transform: scale(1.2);
}



/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    #cards {
        display: block;
        padding: 10px;
    }

    #cards section {
        margin-bottom: 20px;
        width: 100%;
    }

    #cards img {
        width: 80%;
        margin: 0 auto;
        display: block;
    }
    footer p {
        display: block;
        margin: 10px 0;
    }

    footer .fab {
        margin: 0 15px;
    }

    footer .footer-socials {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    footer .footer-socials a {
        color: white;
        text-decoration: none;
    }
}

footer .footer-socials {
    display: flex;
    justify-content: center;
    gap: 15px;
}

