/* Estilo básico para el cuerpo y encabezado */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    position: relative; /* Para posicionar el menú hamburguesa */
}

/* Navegador */
nav {
    background-color: #333;
    padding: 10px 0;
    position: relative;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s ease;
    display: block;
}

nav ul li a:hover {
    color: #ffcc00;
}

/* Menú hamburguesa - solo visible en móviles */
.menu-toggle {
    display: none;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding: 10px 15px;
    position: absolute;
    left: 10px;
    top: 10px;

}

main {
    padding: 20px;
    text-align: center;
}



/* Pie de página */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
    flex-wrap: wrap;
    text-align: center;
}

footer p {
    margin: 10px 20px;
    flex: 1 1 100%;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex: 1 1 100%;
    margin: 15px 0;
}

.social-icon img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.social-icon img:hover {
    transform: scale(1.2);
}

/* Responsive */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        position: relative;

    }
    
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #333;
        z-index: 1000;
        padding: 0;
        margin: 0;
    }

    
    nav ul.active {
        display: flex;
    }
    
    nav ul li {
        margin: 0;
        padding: 0;
        border-top: 1px solid #444;
    }
    
    nav ul li a {
        padding: 15px;
        color: white;

        
    }


    body.menu-open {
        overflow: hidden;
    }

    .menu-open {
        position: relative;
        overflow: hidden;
    }

    

    form {
        width: 95%;
        padding: 15px;
    }

    footer {
        flex-direction: column;
    }
}

/* Estilos para la fecha de última modificación */
#last-modified {
    font-size: 0.9em;
    color: #ccc;
    display: block;
    margin-top: 5px;
}
